## Project Outline

 1. Project Setup
 2. Data Preprocessing
 3. Exploratory Data Analysis (EDA)
 4. Econometric Modeling

### 1. Project Setup

In [3]:
#Install Necessary Libraries

import pandas as pd
import numpy as np
import qgrid
qgrid.set_grid_option('forceFitColumns', False)

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Handle Missing Values
import missingno as msno

### 2. Data Preprocessing

#### 2.1 Load Data

In [4]:
data = pd.read_excel('/Users/enochosei/Personal Projects/Marketing Mix Modeling (MMM) Project/Marketing-Mix-Modeling--MMM--Project/MMM_data.xlsx', sheet_name='Sheet1')

#### 2.2 Inspect Data

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2613 entries, 0 to 2612
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   TV Manufacturing Brand               2613 non-null   object
 1   DATE                                 2613 non-null   datetime64[ns]
 2   DEMAND                               2613 non-null   int64
 3   Consumer Price Index (CPI)           2613 non-null   float64
 4   Consumer Confidence Index(CCI)       2613 non-null   float64
 5   Producer Price Index (PPI)           2613 non-null   float64
 6   Unit Price ($)                       2613 non-null   float64
 7   POS/ Supply Data                     2613 non-null   int64
 8   SALES ($)                            2613 non-null   float64
 9   Advertising Expenses (SMS)           2613 non-null   float64
 10  Advertising Expenses(Newspaper ads)  2613 non-null   float64
 11  Advertising Expenses(Radio)          2613 non-null   float64
 12  Advertising Expenses(TV)             2613 non-null   float64
 13  Advertising Expenses(Internet)       2613 non-null   float64
 14  GRP (NewPaper ads)                   2613 non-null   float64
 15  GRP(SMS)                             2613 non-null   float64
 16  GRP(Radio                            2613 non-null   float64
 17  GRP(Internet)                        2613 non-null   float64
 18  GRP(TV)                              2613 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(2), object(1)
memory usage: 388.0+ KB

In [11]:
# qgrid.show_grid(data)
data.sample(6)

,TV Manufacturing Brand,DATE,DEMAND,Consumer Price Index (CPI),Consumer Confidence Index(CCI),Producer Price Index (PPI),Unit Price ($),POS/ Supply Data,SALES ($),Advertising Expenses (SMS),Advertising Expenses(Newspaper ads),Advertising Expenses(Radio),Advertising Expenses(TV),Advertising Expenses(Internet),GRP (NewPaper ads),GRP(SMS),GRP(Radio,GRP(Internet),GRP(TV)
2142,TV Manufacturing & Supplier Unit,2015-11-13,3866,101.4,104.6,104.4,361.62,4053,1465645.86,48.2576,12.586364,67.7699,1285.6818,4385.238,733.2190,31.4420,163.0000,220.1364,863.9091
1115,TV Manufacturing & Supplier Unit,2013-01-20,3536,103.4,102.9,99.5,400.10,3426,1370742.60,70.1412,13.363559,98.4640,1424.4915,4422.667,149.7380,15.8630,66.9545,194.4545,697.6364
1629,TV Manufacturing & Supplier Unit,2014-06-18,1846,102.5,103.6,102.1,361.62,1734,627049.08,37.9167,11.885714,62.9688,1251.2500,2705.771,85.0218,20.9779,178.9666,381.9316,1466.8182
1755,TV Manufacturing & Supplier Unit,2014-10-22,1866,102.5,103.6,102.1,361.62,1753,633919.86,82.3549,13.487846,108.8993,1441.5672,3272.952,173.2480,11.7112,138.3182,317.8182,1253.8636
850,TV Manufacturing & Supplier Unit,2012-04-30,5092,101.3,105.3,100.4,361.60,6305,2279888.00,38.0570,10.027128,75.1457,1070.1295,3149.857,935.4360,7.3203,110.7727,268.5455,1095.4091
283,TV Manufacturing & Supplier Unit,2010-10-11,6567,105.5,98.7,103.5,361.62,7542,2727338.04,60.7032,13.504250,77.8560,1385.1266,3238.143,900.8120,47.1740,157.2727,258.3636,1084.3636

In [12]:
data.describe()

,DEMAND,Consumer Price Index (CPI),Consumer Confidence Index(CCI),Producer Price Index (PPI),Unit Price ($),POS/ Supply Data,SALES ($),Advertising Expenses (SMS),Advertising Expenses(Newspaper ads),Advertising Expenses(Radio),Advertising Expenses(TV),Advertising Expenses(Internet),GRP (NewPaper ads),GRP(SMS),GRP(Radio,GRP(Internet),GRP(TV)
count,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2.613000e+03,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000,2613.000000
mean,5021.434367,102.609989,103.152315,102.238232,363.275128,4522.970915,1.641507e+06,60.388495,12.651179,88.074643,1324.501468,3079.184067,505.296876,30.618203,139.437260,286.228665,1146.114128
std,2681.197808,1.381355,3.167221,2.037774,26.372958,2603.996535,9.416673e+05,13.557190,1.117926,12.569956,123.677327,1520.891014,488.147782,31.570754,146.042432,138.406620,822.991163
min,1610.000000,101.300000,96.300000,99.500000,282.140000,1510.000000,4.627096e+05,37.916700,10.027128,62.968800,1067.155700,0.000000,5.659000,0.000000,66.863600,191.181800,697.636400
25%,2436.000000,101.400000,102.700000,100.400000,361.600000,1776.000000,6.717679e+05,47.554100,11.885714,78.098100,1251.250000,2226.429000,114.957000,0.000000,95.136400,234.954500,849.545500
50%,4636.000000,102.300000,103.600000,102.700000,361.620000,4412.000000,1.605095e+06,61.267900,13.186582,84.129200,1380.696200,3302.667000,221.528000,26.119600,109.636400,261.454500,928.545500
75%,6834.000000,103.400000,104.600000,103.500000,361.620000,6266.000000,2.267206e+06,71.012200,13.437482,98.639000,1416.171400,4237.095000,854.310000,46.782000,126.045500,291.318200,1114.863600
max,18565.000000,106.500000,107.900000,107.200000,400.100000,16482.000000,5.960221e+06,89.728300,14.104193,118.467700,1479.456500,6354.571000,1791.183000,144.995100,1169.409100,1540.429400,7307.318200

In [13]:
data.isnull().sum()

TV Manufacturing Brand                 0
DATE                                   0
DEMAND                                 0
Consumer Price Index (CPI)             0
Consumer Confidence Index(CCI)         0
Producer Price Index (PPI)             0
Unit Price ($)                         0
POS/ Supply Data                       0
SALES ($)                              0
Advertising Expenses (SMS)             0
Advertising Expenses(Newspaper ads)    0
Advertising Expenses(Radio)            0
Advertising Expenses(TV)               0
Advertising Expenses(Internet)         0
GRP (NewPaper ads)                     0
GRP(SMS)                               0
GRP(Radio                              0
GRP(Internet)                          0
GRP(TV)                                0
dtype: int64

**There appear to be no missing/null values and the data types are correctly specified.**

#### 2.3 Initial Feature Engineering

In [18]:
data['Year'] = data['DATE'].dt.year
data['Month'] = data['DATE'].dt.month
data['DayOfWeek'] = data['DATE'].dt.dayofweek

In [19]:
data.sample(1)

,TV Manufacturing Brand,DATE,DEMAND,Consumer Price Index (CPI),Consumer Confidence Index(CCI),Producer Price Index (PPI),Unit Price ($),POS/ Supply Data,SALES ($),Advertising Expenses (SMS),...,Advertising Expenses(TV),Advertising Expenses(Internet),GRP (NewPaper ads),GRP(SMS),GRP(Radio,GRP(Internet),GRP(TV),Year,Month,DayOfWeek
379,TV Manufacturing & Supplier Unit,2011-01-15,9739,104.5,99.9,102.7,361.02,7542,2722812.84,68.4878,...,1433.561,5082.667,467.509,93.5075,114.2273,324.5909,1271.5455,2011,1,5